.login{
    border:ridge;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: inherit;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 4px;

}

.back{
    border:ridge;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    float: inherit;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 4px;

}
.login1{
    background-color: #407dff;
    color: white;
    border: 2px solid cadetblue;
}
.login1:hover{
    background-color: #65ff55;
    color: black;
}

.back1{
    background-color: #c2328d;
    color: #ffffff;
    border: 2px solid #160b13;
}

.back2{
    background-color: #407dff;
    color: #ffffff;
    border: 2px solid #160b13;
}
.back2:hover{
    background-color: #65ff55;
    color: black;
}
.back1:hover{
    background-color: #10ff45;
    color: black;
}

.submit{
    border:ridge;
    background-color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    float: inherit;
    border-radius: 6px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.submit:hover{
    background-color: black;
    color: white;
}

.wrapper{
    text-align: center;
}

#h01{
    font-family: Avenir;
    color: darkblue;
    border: 2px solid black;

}
#h02{
    font-family: Avenir;
    color: #407dff;

}
#h03{
    font-family: Avenir;
    color: #160b13;

}
#h04{
    font-family: Avenir;
    color: #160b13;
    align:center;
}


img.resize{
   width:20px;
   height:20px;
}

th, td {
    padding: 15px;
    text-align: left;
}

#logtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#logtable td, #customers th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#logtable tr:nth-child(even){background-color: #f2f2f2}

#logtable tr:hover {background-color: #ddd;}

#logtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #407dff;
    color: white;
}
